* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.header{
   
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background1.jpg);
        background-position: center;
        background-size: cover;
        background-color: #04091e;
        position: relative;
    }
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 250px;


}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;

}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    
}

nav .fas{
    display: none;  
}
nav .dropdown .sub-menu-1 {
    display: none;
  }
  
  nav .dropdown.show-dropdown .sub-menu-1 {
    display: block;
  }

@media(max-width: 700px) {
    .text-box h1 {
      font-size: 20px;
    }
    .nav-links ul li {
      display: block;
    }
    .nav-links {
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
    nav .fas {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    .nav-links ul {
      padding: 15px;
    }
    .nav-links.open {
      right: 0;
    }
   
    #header-img.hidden {
        display: none;
      }
      .dropdown .sub-menu-1 {
        display: block;
        position: absolute;
        background-color: #f44336;
        min-width: 160px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 10;
        top: 100%;
        left: 0;
        display: none;
    }

    /* Add this rule to hide the dropdown menu when the media menu is opened */
    .dropdown .sub-menu-1 .sub-menu-hidden {
        display: none;
      }
      .nav-links.open .sub-menu-1 {
        display: block;
      }
      nav .dropdown .sub-menu-1 {
        position: absolute;
        top: -80px;
        left: -30px;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 1000;
        box-shadow: 2 3px 6px rgba(0, 0, 0,0.1);
        
      }
    
      nav .dropdown.show-dropdown .sub-menu-1 {
        display: none;
      }
    
      nav .dropdown.show-dropdown.active .sub-menu-1 {
        display: none;
      }
  }

/*---- Course ----*/



.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 33px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    color: black;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5
    
    
    
    
    
}
.course-col p{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    top: 20px;
}
.course-col:hover{
    box-shadow: 0 0 40px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*------ campus -----*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden ;
           
}
.campus-col img{
    width: 100%;
    
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.dropdown .sub-menu-1 {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
    top: 100%;
    left: 50%; /* center the dropdown menu horizontally */
    transform: translateX(-70%) translateY(1px); /* adjust the position of the dropdown menu */
}

.dropdown:hover .sub-menu-1 {
    display: block;
    margin: 0;
}

.dropdown .sub-menu-1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown .sub-menu-1 li a {
    display: block;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}
nav .dropdown-item:hover > .sub-menu-2,
nav .dropdown-item:focus-within > .sub-menu-2 {
  display: block;
  position: absolute;
  background-color: #f44336;
  min-width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-70%) translateY(1px);
}

nav .dropdown-item .sub-menu-2 {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-70%) translateY(1px);
}

nav .dropdown-item:hover .sub-menu-2,
nav .dropdown-item:focus-within .sub-menu-2 {
  display: block;
  margin: 0;
}

nav .dropdown-item .sub-menu-2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav .dropdown-item .sub-menu-2 li a {
  display: block;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}


.flag {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc(-4% - 0.1em);
    vertical-align: middle;
  }
  
  .flag::before {
    content: "";
    background-image: url(images/united-kingdom\ \(3\).png) ;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -65px;
    bottom: 0;
    right: 20px;
    margin: auto;
  }
  
/*Slyder*/







.container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;  
    overflow: hidden;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
/* Footter */

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
.row{
    width: 85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    
    
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.col p{
    color: #fff;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a {
    text-decoration: none;
    color: #fff;
    

}

.form{
    padding-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;

}
form input{
    
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
    margin-bottom: 15px;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    color: #ccc;
    cursor: pointer;
    

}
form button .fas{
    font-size: 16px;
    color: #ccc;

}
.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    font-size: 18px;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    
  }
  
  .logos:after {
    right: 0;
    
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
 
.sponsors p{
    color: black;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    
}
